<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hockey Shop - All Items</title>
  <link rel="stylesheet" type="text/css" href="/public/styles.css">
  <link rel="icon" type="image/png" href="/public/images/LogoHockeyLogo2.png"/>
</head>
<body>
  <% if (user) { %>
    <p>Welcome, <%= user.email %>! <a href="/logout">Logout</a></p>
  <% } else { %>
    <p>You are not logged in. <a href="/login">Login</a> | <a href="/signup">Sign Up</a></p>
  <% } %>

  <h1>All Hockey Equipment</h1>

  <% if (equipment.length > 0) { %>
    <ul>
      <% equipment.forEach(item => { %>
        <li>
          <h2><%= item.name %></h2>
          <img src="<%= item.image %>" alt="<%= item.name %> Image" width="150">
          <p><strong>Description:</strong> <%= item.description %></p>
          <p><strong>Price:</strong> $<%= item.price_in_cents / 100 %></p>
          <form action="/add-to-cart" method="post">
            <input type="hidden" name="userId" value="<%= user ? user.id : '' %>">
            <input type="hidden" name="itemId" value="<%= item.id %>">
            <input type="number" name="quantity" value="1" min="1">
            <button type="submit">Add to Cart</button>
          </form>
          <a href="/item/<%= item.id %>">View Details</a>
        </li>
      <% }) %>
    </ul>
  <% } else { %>
    <p>No items available at the moment.</p>
  <% } %>

  <!-- Shopping cart button -->
  <a href="/cart">
    <button class="cart-button">View Shopping Cart</button>
  </a>
  
</body>
</html>
